.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  max-width: 300px;
  min-width: 300px;
  max-height: 500px;
  min-height: 500px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.card-img {
  max-height: 300px;

  height: auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-title {
  margin-bottom: 1rem;
  font-size: medium;
  overflow: hidden;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: x-large;
  overflow: hidden;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.add-to-cart-button:disabled {
  background-color: #28a745;
  cursor: not-allowed;
}
