/* .catalog {
  padding: 20px;
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.filter input {
  margin-right: 10px;
}

.checkmark {
  margin-left: 10px;
} */
