.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

.form-container button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.enter {
  padding: 5px;
}
